<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Anime List">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="apple-touch-icon" sizes="57x57" href="./images/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./images/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./images/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./images/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./images/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./images/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./images/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./images/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
		integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>MalAnime List</title>

	<link rel="stylesheet" href="./css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.13/vue.global.prod.min.js"
		integrity="sha512-dJsT2VK9KxehzZYzxzUELznI6velu2pAOwpkL5jj4TQQhTNGXZUMup7aLqgqNwVPSUF/Ntcdfla3BEcfC7zwCw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RD5DS82VTE"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-RD5DS82VTE');
	</script>

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
				})(window, document, 'script', 'dataLayer', 'GTM-MBDGFRF');
</script>
<!-- End Google Tag Manager -->
	<meta name="cf-2fa-verify" content="3dc06f1314d3975">
</head>

<body>
	<div class="autohide fixed-top">
		<nav class="navbar navbar-dark bg-dark">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="float-end" style="margin-top: 10px;">
					<span style="background-color: #eb4d4b;" class="badge rounded-pill text-dark">
						R+ - Mild Nudity
					</span>
					<span style="background-color: #ff7979;" class="badge rounded-pill text-dark">
						R - 17+ (violence & profanity)
					</span>
					<span style="background-color: #f6e58d;" class="badge rounded-pill text-dark">
						PG-13 - Teens 13 or older
					</span>
					<span style="background-color: #badc58;" class="badge rounded-pill text-dark">
						PG - Children
					</span>
					<span style="background-color: #6ab04c;" class="badge rounded-pill text-dark">
						G - All Ages
					</span>
				</div>
			</div>
		</nav>
		<div class="collapse col-md-5" id="navbarToggleExternalContent">
			<div class="bg-dark p-6 container card-round">
				<!-- Links -->
				<ul class="nav flex-column">
					<li class="nav-item active">
						<a class="nav-link text-white" href="#curreSeas">Current Season</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#upcomSeas">Upcoming Season</a>
					</li>
				</ul>
				<!-- Links -->
			</div>
		</div>
	</div>
	<div id="app">
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fs-1 fw-bold" id="curreSeas">Current Season</h1>
				</div>
				<div class="table-responsive">
					<div class="col-md-12">
						<div class="mt-3 mb-3">
							<div class="row">
								<div class="col">
									<input type="text" id="og" class="form-control" onkeyup="filterOg()" placeholder="Search for title.."
										title="Type in a name">
								</div>
								<div class="col">
									<button v-if="requestNow !== 'local'" type="button" class="btn btn-success float-end">
										Request: {{requestNow}}/{{totalPageNow}}
									</button>

									<button v-else @click="removeLocalStorage('Now')" class="btn btn-danger float-end" id="rm-now">
										Found: {{currentData.length}} Data
									</button>
									</div>
								</div>
								</div>
							<table class="table table-bordered table-hover" id="tb-og">
							<thead>
								<tr>
									<th>No.</th>
									<th>Title</th>
									<th>Genres</th>
									<th>Type</th>
									<th>Source </th>
									<th style="width: 100px;">Release</th>
									<th>Episodes</th>
									<th>Studios</th>
									<th>Members</th>
									<th style="width: 130px;">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(val,idx) in currentData"
									:style="ratingColor(val)">
									<td class="text-center">{{ (idx+1)+"." }}</td>
									<td>
										<a :href="val.url" target="_blank" class="link-dark" title="Open in myanimelist.net">{{
											val.title }} <img id="finished-airing" src="./images/check.svg" alt="Finished Airing" title="Finished Airing"
												v-if="val.status === 'Finished Airing'"></a>
									</td>
									<td>
										<span class="badge rounded-pill text-bg-primary" v-for="genre in val.genres">{{
											genre.name}}</span>
									</td>
									<td class="text-center">{{ val.type }}</td>
									<td class="text-center">
										{{ val.source }}
									</td>
									<td class="text-center">{{ date(val.aired.from) }}</td>
									<td class="text-center">{{ val.episodes }}</td>
									<td class="text-center">
										<a v-for="(studio, i) in val.studios" :href="(studio) ? studio.url : '' " target="_blank"
											class="link-dark" title="Open in myanimelist.net">
											{{ (studio) ? (i>0) ? " & " + studio.name : studio.name :'' }}
										</a>
									</td>
									<td class="text-center">{{ numberWithCommas(val.members) }}</td>
									<td class="text-center">{{ val.status }}</td>
								</tr>
								<tr v-if="loading_og">
									<td colspan="10">
										<center style="padding: 10px;">
											<div class="dot-pulse">
												<div class="dot-pulse__dot"></div>
											</div>
										</center>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h1 class="fs-1 fw-bold" id="upcomSeas">Upcoming Season</h1>
				</div>
				<div class="col-md-12">
					<div class="mt-3 mb-3">
						<div class="row">
							<div class="col">
								<input type="text" id="up" class="form-control" onkeyup="filterUp()" placeholder="Search for title.."
									title="Type in a name">
							</div>
							<div class="col">
								<button v-if="requestUpcoming !== 'local'" type="button" class="btn btn-success float-end">
									Request: {{requestUpcoming}}/{{totalPageUpcoming}}
								</button>

								<button v-else @click="removeLocalStorage('Upcoming')" class="btn btn-danger float-end" id="rm-now">
									Found: {{upcomingData.length}} Data
								</button>
							</div>
						</div>
					</div>
						<div class="table-responsive">
							<div class="col-md-12">
						<table class="table table-bordered table-striped table-hover" id="tb-up">
							<thead>
								<tr>
									<th>No.</th>
									<th>Title</th>
									<th>Type</th>
									<th>Source</th>
									<th style="width: 100px;">Release</th>
									<th>Studios</th>
									<th>Members</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(valu,idxx) in upcomingData">
									<td class="text-center">{{ (idxx+1) }}.</td>
									<td>
										<a :href="valu.url" target="_blank" style="text-decoration: none" title="Open myanimelist.net">{{
											valu.title }}</a>
									</td>
									<td class="text-center">{{ valu.type }}</td>
									<td class="text-center">{{ valu.source }}</td>
									<td class="text-center">{{ date(valu.aired.from) }}</td>
									<td class="text-center">
										<a v-for="(studio, i) in valu.studios" :href="(studio) ? studio.url : '' " target="_blank"
											style="text-decoration:none;" title="Open in myanimelist.net">
											{{ (studio) ? (i>0) ? " & " + studio.name : studio.name :'' }}
										</a>
									</td>
									<td class="text-center">{{ numberWithCommas(valu.members) }}</td>
								</tr>
								<tr v-if="loading_up">
									<td colspan="9">
										<center style="padding: 10px;">
											<div class="dot-pulse">
												<div class="dot-pulse__dot"></div>
											</div>
										</center>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<p>
				&copy;{{new Date().getFullYear()}}
				<a href="https://github.com/andrizan/" target="_blank">andrizan</a>.
				API: <a href="https://jikan.moe/" target="_blank">JIKAN V4</a>
			</p>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
		integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBDGFRF" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
<script src="./js/main.js"></script>
</body>

</html>
